<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="HTML5 exsample" />
		<meta name="author" content="boku" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
		<title>Hello</title>
	</head>
	<body>
		<h1>こんにちは。世界。</h1>
		<h1>こんにちは。世界。</h1>
		<h1>こんにちは。世界。</h1>
	</body>
</html>